.card1 {
    border: 1px solid black;
    width: 20%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 4px 0.125px rgb(175, 169, 169);
}

.card1 h5 {
    font-size: 20px;
    font-weight: 700;
}

#playerFirstTitle {
    font-size: 25px;
    font-weight: 700;
    color: darkgreen;
}

#playerFirstScore {
    font-size: 25px;
    font-weight: 700;
}


/*card2*/

.card2 {
    border: 1px solid black;
    width: 20%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 4px 0.125px rgb(175, 169, 169);
}

.card2 h5 {
    font-size: 20px;
    font-weight: 700;
}

#playerSecoundTitle {
    font-size: 25px;
    font-weight: 700;
    color: darkgreen;
}

#playerSecoundScore {
    font-size: 25px;
    font-weight: 700;
}

.container{
    display: flex;
    justify-content: center;

}

.vs{
    margin: 0px 100px;
    font-size: 40px;
    font-weight: 700;
    color: darkgreen;
}